<div class="flex flex-col">
  <a href="<%= post.relative_url %>">
    <h2 class="text-2xl"><%= data.title %></h2>
  </a>
  <div class="flex flex-col">
    <%= date %>
    <% if data.tags.any? %>
      <div class="flex">
        <%= data.tags.each do |tag| %>
          <a class="" href="/tags/<%= tag %>"><%= tag %></a>
        <% end %>
      </div>
    <% end %>
    <div class="flex divide-x space-x-1">
      <span><%= reading_time(post.content) %> min read</span>
      <span><%= number_of_words(post.content) %> words</span>
    </div>
  </div>
</div>
