<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="max-w-prose mx-auto">
    <%= render "header", author: site.metadata.author %>
    <%= render "navbar", nav_items: site.data.nav.navbar %>
    <main>
      <%= yield %>
    </main>
    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
